@font-face {
    font-family: 'amadeus';
    src: url('fonts/Amadeus-webfont.woff') format('woff');
}
body {
  margin: 0;
}
h1 {
  font-family: 'amadeus', sans-serif;
  text-align: center;
  color: #6F4A9E;
  font-size: 6em;
  line-height: 1.5;
}
p {
  text-align: center;
  color: #6F4A9E;
  font-size: 1.5em;
  line-height: 1.5;
}
img {
  display: block;
  width: 10em;
  margin: auto;
}

header{
  display:block;
  background: url('images/logo.png') no-repeat #6F4A9E;
  background-size: 20em 6em;
  height: 6em;

}

ul{
  margin: 0;
}
li{
  list-style-type: none;
  display: inline;
}
